<!DOCTYPE html>
<html>
<head>
  <title>Quotr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <div class="circle">
        <h4>
          <br>
            QUOTR!
        </h4>
      </div>
    </div>
    <div class="col-xs-4 slogan">
      Quotes to Make You Think About the World
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </header>
  <hr />

  <br class="clear" />

<%= yield %>

<footer class="footer">
      <div class="container">
        <div class="col-xs-6">
          <%= link_to "Next Quote", "#", class: "next-quote" %>
        </div>
        <div class="col-xs-6 footer-blurb">
          Built by <a href="https://github.com/rxso"> RXSO </a><br / />
        </div>
      </div>
</footer>

</body>
</html>
