<!DOCTYPE html>
<html>
<head>
  <title>Quotr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <header>
    <div class="col-xs-3">
      <%= link_to root_path, class: 'logo' do %>
      <div class="circle">
        <h4>
          <br>
            QUOTR!
        </h4>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 hidden-xs slogan">
      Quotes to Make You Think About the World
    </div>
    <div class="col-xs-5 links">
      <!-- Button trigger modal -->
      <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
      &nbsp; &nbsp;
      <%= link_to 'About', about_path %>
    </div>
  </header>

   <!-- Modal -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content controllers">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title" id="myModalLabel">Add A Quote</h4>
         </div>
         <%= simple_form_for Quote.new do |f| %>
          <div class="modal-body">
             <%= f.input :saying, :as => :text, :input_html => {:style=> 'width: 100%;', :rows => 4}, label: "A Bit of Wisdom" %>
             <br />
             <%= f.input :author, :as => :text, :input_html => {:style=> 'width: 100%;', :rows => 2}, label: "Who Said It" %>
           </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <%= f.submit "Submit", class: "btn btn-success" %>
          </div>
          <% end %>
         </div>
        </div>
       </div>
     </div>
   </div>


  <hr />

  <br class="clear" />
<div class="container">
  <% if flash[:error].present? %>
    <div class="col-xs-12 col-xs-offset-1 alert alert-danger">
      <%=flash[:error].html_safe %>
    </div>
    <% end %>
<%= yield %>
</div>

<footer class="footer">
      <div class="container">
        <div class="col-xs-12 col-sm-6">
          <%= link_to "Next Quote", root_path, class: 'next-quote' %>
        </div>
        <div class="col-xs-12 col-sm-6 footer-blurb">
          A <a href="http://www.firehoseproject.com">Firehose</a> Product Built By <a href="https://github.com/rxso"> RXSO </a><br / />
        </div>
      </div>
</footer>

</body>
</html>
